/* style fo git */

/* Обнуление */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Обнуление */

body {
    font-size: large;
}

h1 {
    font-weight: 700;
    text-align: center;
}

table tr td {
    border: 2px solid red;
}
